*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: hsla(185, 14%, 17%, .225);
    place-items: center;
    min-height: 1000vh;
}
header{
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    
}
header a{
    margin: 0 10rem 0 10rem;
    text-decoration: none;
    font-size: larger;
    color: hsl(189, 91%, 30%);

}
header a:hover{
    color: hsl(183, 48%, 76%);
}
main{
    display: grid;
    grid-template-areas: 
    'r r r r r y y'
    'g g g b b b b'
    'g g g p p p p'
    ;
    gap: 10px;
    text-align: center;
    text-transform: capitalize;
    width: 50%;
    margin: auto;
        
    
}
main div{
    padding: 3rem;
    text-align: center;
}
.r{
    grid-area: r;
}
.g{
    grid-area: g;
}
.y{
    grid-area: y;
}
.b{
    grid-area: b;
}
.p{
    grid-area: p;
}
@media screen and (max-width: 375px){
    header{
        width: 100%;
        top: 0;
        padding: 0;
    }
    header a{
        margin: 40px;
    }
    main{
        height: auto;
        width: auto;
        margin: auto;
        justify-content: center;
    }
    
}    
